<div class="container">
    <p><strong>Wer sind wir?</strong></p>
    <p>Wir sind Miguel Hendrikus van Doorn, David Bengraf, Sara Mallon, Fabian Hoffmann,</p>
    <p>ein engagiertes Team von LF04, das sich leidenschaftlich dafür einsetzt. Mit einem klaren Fokus auf
        Benutzerfreundlichkeit, arbeiten wir wöchentlich daran, unseren Kunden innovative Mangas zu bieten, die einen
        echten
        Mehrwerte schaffen.</p>

    <p>Unsere Stärke liegt im Webdesign, kombiniert mit einem starken Glauben an Kreativität.</p>
    <p>Dabei bleibt unser Ziel stets dasselbe: Gemeinsam wachsen, inspirieren und die besten Ergebnisse liefern.</p>
    <p>Lernen Sie uns kennen – wir freuen uns darauf, Teil Ihrer Vision zu werden.</p>
</div>