
.box {
    border-radius: 15px;
    border-bottom: 5px;
    border-right: 5px;
    background-color: rgba($color: #000000, $alpha: 0.1);
    margin-bottom: 10px;
    padding: 10px;
}
.head {
    .cover {
        width: 600px;
        height: 315px;
        border-radius: 10px;
        padding-right: 5px;
        padding: 5px;
    }
    .name {
        display: flex;
        flex-wrap: wrap;
        height: 10%;
    }
    .lang {
        height: 20px;
        width: 25px;
        border-radius: 5px;
        padding-right: 5px;
    }
}
.subHead {
    .stats {
        display: flex;
        flex-direction: row;
        gap: 3px;
        height: fit-content;
    }
}

#tags {
    display: flex;
    flex-direction: row;
    gap: 3px;
    grid-area: 3 / 2;
    height: fit-content;
    .tags {
        color: rgba($color: #FFF, $alpha: 1);
        border-radius: 5px;
        padding-top: 2px;
        padding-bottom: 2px;
        padding-left: 3px;
        padding-right: 5px;
        width: fit-content;
    }
    .safe {
        background-color: rgb(30, 170, 10);   
    }
    .suggestive {
        background-color: rgb(170, 170, 10);
    }
    .erotica {
        background-color: rgb(170, 10, 10);
    }
    .tag {
        background-color: rgb(100, 100, 100);
        color: rgb(210, 210, 210);
    }
}
.link {
    display: flex;
    justify-content: center;
}