<div class="list">
    <div class="head box">
        <a class="tags tag" href="http://mangadex.org/title/{{this.manga.id}}"><img class="cover" src="https://og.mangadex.org/og-image/manga/{{this.manga.id}}" alt="Big Cover"></a>
        <div class="name" id="tags">
            <p class="tags safe" *ngIf="this.manga.germanTitle.length > 0 || this.manga.originalTitle.length > 0">Alternate titles:</p>
            @if (this.manga.germanTitle.length > 0) {
                <p class="tag tags" *ngFor="let title of this.manga.germanTitle">{{title}}</p>
            }
            @if (this.manga.originalTitle.length > 0) {
                <p class="tag tags" *ngFor="let title of this.manga.originalTitle">{{title}}</p>
            }
        </div>
    </div>
    <div class="subHead box">
        <div id="tags">
            <p class="safe tags">Stats:</p>
            <p class="tag tags">⭐ {{this.manga.ratingAverage.toFixed(2)}} / {{this.manga.ratingBayesian.toFixed(2)}}</p>
            <p class="tag tags">📎 {{this.manga.followers}}</p>
            <p class="tag tags">💭 {{this.manga.commentCount}}</p>
            <p class="tag tags">
                @if (this.manga.publicationStatus == "ongoing") {
                    🟢 Publication: {{this.manga.releaseDate}} {{(this.manga.publicationStatus.charAt(0).toUpperCase() + this.manga.publicationStatus.slice(1))}}
                }
                @if (this.manga.publicationStatus == "hiatus") {
                    🟡 Publication: {{this.manga.releaseDate}} {{(this.manga.publicationStatus.charAt(0).toUpperCase() + this.manga.publicationStatus.slice(1))}}
                }
                @if (this.manga.publicationStatus == "cancelled") {
                    🔴 Publication: {{this.manga.releaseDate}} {{(this.manga.publicationStatus.charAt(0).toUpperCase() + this.manga.publicationStatus.slice(1))}}
                }
                @if (this.manga.publicationStatus == "completed") {
                    🔵 Publication: {{this.manga.releaseDate}} {{(this.manga.publicationStatus.charAt(0).toUpperCase() + this.manga.publicationStatus.slice(1))}}
                }
                @if (this.manga.publicationStatus == "") {
                    Publication: {{this.manga.releaseDate}}
                }
            </p>
            @if (this.manga.lastVolume != 0) {
                <p class="tags tag">Volumes: {{this.manga.lastVolume}}</p>
            }
            @if (this.manga.lastChapter != 0) {
                <p class="tags tag">Chapters: {{this.manga.lastChapter}}</p>
            }
            <p *ngIf="['shounen', 'shoujo', 'josei', 'seinen'].includes(this.manga.demographic)" class="tags tag">{{(this.manga.demographic.charAt(0).toUpperCase() + this.manga.demographic.slice(1))}}</p>
        </div>
        <div id="tags">
            @if (this.manga.artists.length > 0) {
                <p class="safe tags">Artist@if (this.manga.artists.length > 1) {s}:</p>
                <p class="tag tags" *ngFor="let artist of this.manga.artists">{{artist}}</p>
            }
            <br>
            @if (this.manga.authors.length > 0) {
                <p class="safe tags">Author@if (this.manga.authors.length > 1) {s}:</p>
                <p class="tag tags" *ngFor="let author of this.manga.authors">{{author}}</p>
            }
        </div>
        <div id="tags">
            <p class="tags {{this.manga.contentRating}}" >{{(this.manga.contentRating.charAt(0).toUpperCase() + this.manga.contentRating.slice(1))}}</p>
            <br>
            <p class="tags tag" *ngFor="let tag of this.manga.tags">{{tag}}</p>
        </div>
    </div>
    <div class="box">
        <p>{{this.manga.description}}</p>
    </div>
    <div class="box link" id="tags">
        <a class="tags tag" href="http://mangadex.org/title/{{this.manga.id}}">Read on MangaDex</a>
    </div>
</div>

<!-- export interface Manga_Dex {
    id: string;
    defaultTitle: string;
    germanTitle: string[];
    originalTitle: string[];
    currentCover: string;
    description: string;
    contentRating: string;
    tags: string[];
    ratingAverage: number;
    releaseDate: string;
    authors: string[];
    artists: string[];
    publicationStatus: string;
    followers: number;
    commentCount: number;
    demographic: string;
    originalLanguage: string;
    lastVolume: number;
    lastChapter: number;
    ratingBayesian: number;
    availableTranslatedLanguages: string[];
}; -->