<div [ngClass]="selectedStyle">

    <img class="cover" src="{{this.manga.currentCover}}" alt="Manga Cover">

    @if (selectedStyle === 'list') {
        <div class="info">
            <div class="name">
                <img class="lang" src="/img/{{this.manga.originalLanguage}}.svg" alt="language icon">
                <div>{{this.manga.defaultTitle}}</div>
            </div>
            <div class="stats">
                <div class="rating">⭐ {{this.manga.ratingAverage}}</div>
                <div class="follows">📎 {{this.manga.followers}}</div>
                <div class="comments">💭 {{this.manga.commentCount}}</div>
            </div>
            <div id="tags">
                <div class="tags {{this.manga.contentRating}}" >{{(this.manga.contentRating.charAt(0).toUpperCase() + this.manga.contentRating.slice(1))}}</div>
                <div class="tags tag" >{{this.manga.tags[0]}}</div>
                <div class="tags tag" >{{this.manga.tags[1]}}</div>
                <div class="tags tag" >{{this.manga.tags[2]}}</div>
            </div>
            <div class="description">{{this.manga.description}}</div>
        </div>
    }
    @if (selectedStyle === 'image') {
        <div class="name">
            <img class="lang" src="/img/{{this.manga.originalLanguage}}.svg" alt="language icon">
            <p>{{this.manga.defaultTitle}}</p>
        </div>
    }
</div> 