<!-- <div [ngClass]="selectedStyle">
    
    <img class="cover" src="https://uploads.mangadex.org/covers/1044287a-73df-48d0-b0b2-5327f32dd651/e7e5e267-502f-4b77-9f19-b7ea1344f68f.jpg" alt="Manga Cover">
    
    @if (selectedStyle === 'list') {
        <div class="info">
            <div class="name">
                <img class="lang" src="/img/de.svg" alt="language icon">
                <div>Testicular cancer is sad</div>
            </div>
            <div class="stats">
                <div class="rating">⭐ 1234</div>
                <div class="follows">📎 4321</div>
                <div class="comments">💭 1423</div>
            </div>
            <div id="tags">
                <div class="tags safe" >Safe</div>
                <div class="tags tag" >Stoopid</div>
                <div class="tags tag" >Hooman</div>
                <div class="tags tag" >licky licky gimme bally</div>
            </div>
            <div class="description">
                "The fact that you people think that by killing all Demons you are doing the world good, but in reality you dont realize that its actually hurting the entire world" is what the jung girl named "Shlerman Shnuzle" exclaimed towards the king of the nation of "Vehecular mansloughter". After which she got promplty thrown out of the palace due to the king not liking to listen to the oppinion of people who are not his wife, from which on she swore she would kill the king herself. And thus begins the werd story that is AAAAAAAAAA
            </div>
        </div>
    }
    @if (selectedStyle === 'image') {
        <div class="name">
            <img src="/img/de.svg" alt="language icon">
            <p>Testicular cancer is sad</p>
        </div>
    }
</div>  -->

<div [ngClass]="selectedStyle">

    <img class="cover" src="{{this.manga.currentCover}}" alt="Manga Cover">

    @if (selectedStyle === 'list') {
        <div class="info">
            <div class="name">
                <img class="lang" src="/img/{{this.manga.originalLanguage}}.svg" alt="language icon">
                <div>{{this.manga.defaultTitle}}</div>
            </div>
            <div class="stats">
                <div class="rating">⭐ {{this.manga.ratingAverage}}</div>
                <div class="follows">📎 {{this.manga.followers}}</div>
                <div class="comments">💭 {{this.manga.commentCount}}</div>
            </div>
            <div id="tags">
                <div class="tags {{this.manga.contentRating}}" >{{(this.manga.contentRating.charAt(0).toUpperCase() + this.manga.contentRating.slice(1))}}</div>
                <div class="tags tag" >{{this.manga.tags[0]}}</div>
                <div class="tags tag" >{{this.manga.tags[1]}}</div>
                <div class="tags tag" >{{this.manga.tags[2]}}</div>
            </div>
            <div class="description">{{this.manga.description}}</div>
        </div>
    }
    @if (selectedStyle === 'image') {
        <div class="name">
            <img class="lang" src="/img/{{this.manga.originalLanguage}}.svg" alt="language icon">
            <p>{{this.manga.defaultTitle}}</p>
        </div>
    }
</div> 
<!-- 
<div [ngClass]="selectedStyle">
    
    <img class="cover" src="{{this.manga.currentCover}}" alt="Manga Cover">
    
    @if (selectedStyle === 'list') {
        <div class="info">
            <div class="name">
                <img class="lang" src="/img/{{this.manga}}.svg" alt="language icon">
                <div>Testicular cancer is sad</div>
            </div>
            <div class="stats">
                <div class="rating">⭐ 1234</div>
                <div class="follows">📎 4321</div>
                <div class="comments">💭 1423</div>
            </div>
            <div id="tags">
                <div class="tags safe" >Safe</div>
                <div class="tags tag" >Stoopid</div>
                <div class="tags tag" >Hooman</div>
                <div class="tags tag" >licky licky gimme bally</div>
            </div>
            <div class="description">
                "The fact that you people think that by killing all Demons you are doing the world good, but in reality you dont realize that its actually hurting the entire world" is what the jung girl named "Shlerman Shnuzle" exclaimed towards the king of the nation of "Vehecular mansloughter". After which she got promplty thrown out of the palace due to the king not liking to listen to the oppinion of people who are not his wife, from which on she swore she would kill the king herself. And thus begins the werd story that is AAAAAAAAAA
            </div>
        </div>
    }
    
</div>  -->