.container {
    display: flex;
    flex-direction: column;
    max-width: 40vw;
    padding: 3vh;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
#creditsPragraph{
    margin-top: 0;
    padding-top: 0;
}
#h2Credits{
    margin-bottom: 0;
    padding-bottom: 0;
}
a {
    color: #0066cc;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
