<div class="container">
    <h1>Impressum</h1>

    <p><strong>Angaben gemäß § 5 TMG:</strong><br>
        Miguel Hendrikus van Doorn, David Bengraf, Sara Mallon, Fabian Hoffmann<br>
        Meta-Sattler Straße 33<br>
        28217 Bremen<br>
        Deutschland
    </p>

    <p><strong>Kontakt:</strong><br>
        Telefon: +49 179 7272782<br>
        E-Mail: <a href="mailto:bengemrafdavid@gmail.com">bengemrafdavid&#64;gmail.com</a>
    </p>

    <p><strong>Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV:</strong><br>
        David Bengraf<br>
        Kronberger Straße 7 28703 Bremen<br>
        28217 Bremen<br>
        Deutschland
    </p>

    <h2 id="h2Credits">Credits</h2>
    <p id="creditsPragraph">
        Diese Webseite nutzt Inhalte und Ressourcen von <a href="https://mangadex.org" target="_blank">MangaDex</a>.
        Wir bedanken uns bei MangaDex für die Bereitstellung einer großartigen Plattform für Manga-Enthusiasten.
        MangaDex ist Inhalts Open-Source, die von engagierten Fans betrieben wird. Besuchen Sie deren Webseite, um
        mehr zu erfahren und die Community zu unterstützen.
    </p>

    <p>
        <strong>Hinweis:</strong> Die Inhalte auf dieser Seite dienen ausschließlich privaten und nicht-kommerziellen Zwecken.
    </p>
</div>

