<div class="container">
    <h1>Our mangas:</h1>
    <select name="Sort by" id="sortMangas">
        <option value="ascTitle">Title Ascending</option>
        <option value="descTitle">Title Descending</option>
        <option value="highRating">Highest Rating</option>
        <option value="lowRating">Lowest Rating</option>
        <option value="mostFollows">Most Follows</option>
        <option value="fewFollow">Fewest Follows</option>
        <option value="ascYear">Year Ascending</option>
        <option value="descYear">Year Descending</option>
    </select>
    <select name="View mode" id="viewMangas" (change)="onSelectionChange($event)">
        <option value="list" (click)="apply('list')">List</option>
        <option value="table" (click)="apply('table')">Table</option>
        <option value="image" (click)="apply('image')">Cover with title</option>
    </select>
    <div class="mangaOutput">
        <app-manga-box ></app-manga-box>

    </div>
    <p>Not done yet :c</p>
</div>