<div class="container">
    <h1>Our mangas:</h1>
    <div class="filter">
        <select name="Sort by" id="sortMangas" (change)="filterManga($event)">
            <option value="latest">Zuletzt Veröffentlicht</option>
            <option value="best">Am besten Bewertet</option>
            <option value="eng">Nur Englische</option>
            <option value="ger">Nur Deutsche</option>
            <option value="all">Alle</option>
        </select>
        <div class="buttons">
            <button value="list" (click)="apply('list')">
                <img src="./svgs/lines.svg" alt="Liste">
            </button>
            <button value="image" (click)="apply('image')">
                <img src="./svgs/bigboxes.svg" alt="Liste">
            </button>
        </div>
    </div>
    <div [ngClass]="selectedStyle">
        <app-manga-box *ngFor="let manga of mangas" [manga]="manga" [selectedStyle]="selectedStyle"></app-manga-box>
    </div>
</div>