.container {
    width: 40vw;
    min-width: 800px;
    padding: 3vh;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}

.filter {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 1vh;
}

.mangaOutput {
    display: flex;
    flex-direction: column;
    width: 35vw;
    min-width: 800px;
}
