.container {
    max-width: 40vw;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 3vh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

ul{
    padding-top: 0;
    margin-top: 0;

}

li{
    padding-top: 0;
    margin-top: 0;

    
}

.paragrph{
    padding-bottom: 0;
    margin-bottom: 0;
}