<div class="container">
<h1><strong>Datenschutzerklärung</strong></h1>
<p><strong>1. Allgemeine Informationen</strong>
    Wir freuen uns über Ihr Interesse an unserer Website. Wir behandeln Ihre personenbezogenen Daten vertraulich und
    entsprechend der gesetzlichen Datenschutzvorschriften sowie dieser Datenschutzerklärung.
</p>
<p><strong>2. Verantwortlicher</strong><br>
    Verantwortlicher für die Verarbeitung Ihrer personenbezogenen Daten auf dieser Website ist:
    <br>
    David Bengraf<br>
    Meta-Sattler Straße 33 28217<br>
    <a href="mailto:bengemrafdavid@gmail.com">bengemrafdavid&#64;gmail.com</a>
    <br>
    +49 179 7272782
</p>
<p id="paragrph"><strong>3. Datenquellen</strong><br>
    Ein Teil der von uns genutzten Informationen stammt von öffentlich zugänglichen Datenquellen oder Drittplattformen.
    Insbesondere möchten wir darauf hinweisen, dass wir Daten von <strong>MangaDex</strong> beziehen.<br> Diese Daten
    werden
    gemäß den Nutzungsbedingungen und Datenschutzrichtlinien von MangaDex verwendet.<br>
    <br>
    <strong>4. Verarbeitung personenbezogener Daten</strong>
    <br>
    Wir verarbeiten personenbezogene Daten nur, wenn dies zur Bereitstellung unserer Dienste erforderlich ist,
    Sie eingewilligt haben oder eine rechtliche Verpflichtung besteht. Im Einzelnen können folgende Daten
    verarbeitet werden:
</p>
<ul>
    <li>Benutzername</li>
    <li>Passwort</li>
    <li>Daten, die von Drittplattformen wie MangaDex stammen</li>
</ul>

<p id="paragrph">
    <strong>5. Zweck der Datenverarbeitung</strong>
    <br>
    Die Verarbeitung Ihrer Daten erfolgt zu folgenden Zwecken:
    <br>
</p>
<ul>
    <li>Bereitstellung und Verbesserung unserer Dienste</li>
</ul>

<p id="paragrph">
    <strong>6. Weitergabe von Daten</strong>
    <br>
    Ihre Daten werden nicht an Dritte weitergegeben, es sei denn, dies ist zur Vertragserfüllung
    erforderlich, gesetzlich vorgeschrieben oder Sie haben ausdrücklich zugestimmt.
    <br>
    <br>
    <strong>7. Rechtsgrundlagen</strong><br>
    Die Verarbeitung Ihrer Daten erfolgt auf der Grundlage folgender Rechtsgrundlagen:
</p>
<ul>
    <li>Art. 6 Abs. 1 lit. a DSGVO (Einwilligung)</li>
    <li>Art. 6 Abs. 1 lit. b DSGVO (Erfüllung eines Vertrags)</li>
    <li>Art. 6 Abs. 1 lit. f DSGVO (berechtigtes Interesse)</li>
</ul>
<p id="paragrph">
    <strong>8. Ihre Rechte</strong><br>
    Sie haben folgende Rechte bezüglich Ihrer personenbezogenen Daten:
</p>
<ul>
    <li>Recht auf Auskunft</li>
    <li>Recht auf Berichtigung</li>
    <li>Recht auf Löschung</li>
    <li>Recht auf Einschränkung der Verarbeitung</li>
    <li>Recht auf Datenübertragbarkeit</li>
    <li>Widerspruchsrecht gegen die Verarbeitung</li>
    <li>Recht auf Widerruf Ihrer Einwilligung</li>
</ul>
<p>
    Um Ihre Rechte geltend zu machen, können Sie uns unter den oben angegebenen Kontaktdaten erreichen.<br>
    <br>
    <strong>9. Speicherdauer</strong>
    <br>Wir speichern Ihre Daten nur so lange, wie sie ein Admin Account bei
    uns
    haben.
    <br>
    <br>
    <strong>10. Kontakt</strong><br> Bei Fragen zur Verarbeitung Ihrer personenbezogenen Daten oder zur
    Wahrnehmung
    Ihrer Rechte können Sie uns jederzeit kontaktieren.<br>
    <br>
    <strong>11. Aktualisierung der Datenschutzerklärung</strong><br>
    Wir behalten uns vor, diese Datenschutzerklärung bei Bedarf zu aktualisieren, um sie an Änderungen der
    Rechtslage oder unserer Datenverarbeitung anzupassen. Die jeweils aktuelle Version finden Sie auf
    unserer
    Website.
</p>
</div>