<div class="profil">
  <div class="auth-box">
    <h1 *ngIf="!login">Sign In</h1>
    <h1 *ngIf="login">Login</h1>
    <form>
      <div>
        <p>Email</p>
        <input type="email" [(ngModel)]="email" name="email" required>
      </div>
      <div *ngIf="!login">
        <p>Benutzername</p>
        <input type="email" [(ngModel)]="username" name="username" required>
      </div>
      <div>
        <p>Passwort</p>
        <input type="password" [(ngModel)]="password" name="password" required>
      </div>
      <div *ngIf="!login">
        <p>Passwort wiederholen</p>
        <input type="password" [(ngModel)]="confirmPassword" name="confirmPassword" required>
      </div>
      <div>
        <button class="continue-button" type="submit"(click)="onSubmit()">Weiter</button>
      </div>
    </form>
    <button *ngIf="!login" class="switch-button" (click)="toggleLogin(); resize(login)">Login</button>
    <button *ngIf="login" class="switch-button" (click)="toggleLogin(); resize(login)">Sign In</button>
  </div>
</div>
