<div>
    <div class="content">
        <app-item-list></app-item-list>
        <form id="edit-object-form">
            <!-- ID -->
            <label for="id">ID:</label>
            <input type="text" id="id" name="id">
            <br>
        
            <!-- Standardtitel -->
            <label for="defaultTitle">Standardtitel:</label>
            <input type="text" id="defaultTitle" name="defaultTitle">
            <br>
        
            <!-- Deutscher Titel -->
            <label for="germanTitle">Deutscher Titel:</label>
            <input type="text" id="germanTitle" name="germanTitle">
            <br>
        
            <!-- Original Romanji Titel -->
            <label for="originalRomanjiTitle">Original Romanji Titel:</label>
            <input type="text" id="originalRomanjiTitle" name="originalRomanjiTitle">
            <br>
        
            <!-- Aktuelles Cover -->
            <label for="currentCover">Aktuelles Cover:</label>
            <input type="text" id="currentCover" name="currentCover">
            <br>
        
            <!-- Beschreibung -->
            <label for="description">Beschreibung:</label>
            <textarea id="description" name="description"></textarea>
            <br>
        
            <!-- Inhaltsbewertung -->
            <label for="contentRating">Inhaltsbewertung:</label>
            <input type="text" id="contentRating" name="contentRating">
            <br>
        
            <!-- Tags -->
            <label for="tags">Tags:</label>
            <input type="text" id="tags" name="tags">
            <br>
        
            <!-- Durchschnittsbewertung -->
            <label for="ratingAverage">Durchschnittsbewertung:</label>
            <input type="number" step="0.1" id="ratingAverage" name="ratingAverage">
            <br>
        
            <!-- Erscheinungsdatum -->
            <label for="releaseDate">Erscheinungsdatum:</label>
            <input type="date" id="releaseDate" name="releaseDate">
            <br>
        
            <!-- Autoren -->
            <label for="authors">Autoren:</label>
            <input type="text" id="authors" name="authors">
            <br>
        
            <!-- Künstler -->
            <label for="artists">Künstler:</label>
            <input type="text" id="artists" name="artists">
            <br>
        
            <!-- Veröffentlichungsstatus -->
            <label for="publicationStatus">Veröffentlichungsstatus:</label>
            <input type="text" id="publicationStatus" name="publicationStatus">
            <br>
        
            <!-- Follower -->
            <label for="followers">Follower:</label>
            <input type="number" id="followers" name="followers">
            <br>
        
            <!-- Kommentaranzahl -->
            <label for="commentCount">Kommentaranzahl:</label>
            <input type="number" id="commentCount" name="commentCount">
            <br>
        
            <!-- Zielgruppe -->
            <label for="demographic">Zielgruppe:</label>
            <input type="text" id="demographic" name="demographic">
            <br>
        
            <!-- Originalsprache -->
            <label for="originalLanguage">Originalsprache:</label>
            <input type="text" id="originalLanguage" name="originalLanguage">
            <br>
        
            <!-- Letzter Band -->
            <label for="lastVolume">Letzter Band:</label>
            <input type="number" id="lastVolume" name="lastVolume">
            <br>
        
            <!-- Letztes Kapitel -->
            <label for="lastChapter">Letztes Kapitel:</label>
            <input type="number" id="lastChapter" name="lastChapter">
            <br>
        
            <!-- Alle Cover -->
            <label for="allCovers">Alle Cover:</label>
            <input type="text" id="allCovers" name="allCovers">
            <br>
        
            <!-- Bayessche Bewertung -->
            <label for="ratingBayesian">Bayessche Bewertung:</label>
            <input type="number" step="0.1" id="ratingBayesian" name="ratingBayesian">
            <br>
        
            <button type="submit">Hinzufügen</button>
        </form>
    </div>
</div>