.container{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    border-color: black;
    box-shadow: 0px -5px 5px rgba(0, 0, 0, 0.1);
    width: 100%;

}
a{
    color: black;
}
a:active{
    color: black;
}
a:hover{
    font-style: italic;
    font-weight: 10%;
}
//noch Zentrieren
