<div class="header">
    <div class="left">
      <a routerLink="'/home'">
          <img class="logo" src="favicon.ico" alt="Logo">
      </a>
      <a class="team" routerLink="/team">
        Wer Sind Wir?
      </a>
      <a class="manga" routerLink="/products">
          Mangas
      </a>
      @if (isCurrentUserAdmin) {
        <a class="admin" routerLink="/admin">
            Administation
        </a>
      }
    </div>
    <div class="right">
      @if (this.user != null) {
        <p>Willkommen {{displayname}}!</p>
        <button class="logout-button" (click)="logout()">
          <p>Logout</p>
        </button>
      }
      @if (this.user == null) {
        <button class="login-button" (click)="this.router.navigateByUrl('/auth')">
            <p>Login</p>
        </button>
      }
    </div>
</div>
