<div class="header">
    <div class="left">
        <a [routerLink]="'/home'">
            <img class="logo" src="favicon.ico" alt="Logo">
        </a>
        <select name="Über Uns" id="aboutUsDropdown" (change)="navigateTo($event)">
            <option value="">Wer sind Wir?</option>
            <option value="/team">Team</option>
        </select>
        <a class="manga" routerLink="/products">
            Mangas
        </a>
        <a class="admin" routerLink="/administation">
            Administation
        </a>
    </div>
    <div class="right">
      @if (this.user != null) {
        <button class="logout-button" (click)="this.authServ.logout()">
          <p>Logout</p>
        </button>
      }
      @if (this.user == null) {
        <button class="login-button" (click)="this.router.navigateByUrl('/auth')">
            <p>Login</p>
        </button>
      }
    </div>
</div>
