<div class="header">
    <div class="left">
        <a [routerLink]="'/home'">
            <img class="logo" src="">
        </a>
        <a [routerLink]="['/datenschutz']">Produkte</a>
        <select name="Über Uns" id="aboutUsDropdown" (change)="navigateTo($event)">
            <option value="">Über Uns</option>
            <option value="/impressum">Impressum</option>
            <option value="/datenschutz">Datenschutz</option>
            <option value="/team">Team</option>
        </select>
        <a [routerLink]="['/administration']">Administration</a>
    </div>
    <div class="right">
        <a [routerLink]="['/auth']">Login</a>
    </div>
</div>
