.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4rem;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.1);

    &>* {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .left {
        &>* {
            margin-left: 1rem;
        }
        .logo {
            height: 3rem;
        }
    }

    .right>* {
        margin-right: 1rem;
    }

    .child {
        font-family: 'tan-nimbus';
        font-size: large;   
        text-decoration: none;
        color: black;
    }

    button {
        height: 3rem;
        width: 6rem;
        border-radius: 15px;
        background-color: rgba(61,58,109,255);

        display: flex;
        justify-content: center;
        align-items: center;

        p{
            display: flex;
            color: white;
            font-family: glitch;
            font-size: 1.3rem;
        }
    }

    a {
        color: rgba(61,58,109,255);
        text-decoration: none;
        font-family: glitch;
        font-size: 1.5rem;
        font-weight: 140%;

        &:hover {
            font-size: 1.52rem;
        }
    }

    select {
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        border: none;
        background-color: transparent;
        color: rgba(61,58,109,255);
        font-family: glitch;
        font-size: 1.5rem;
        font-weight: 140%;

        &:hover {
            font-size: 1.52rem;
        }

        option {
            color: rgba(61,58,109,255);
            font-family: glitch;
            font-size: 1.3rem;
            font-weight: 140%;
        }
    }
}