.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .left>* {
        margin-left: 1rem;
    }

    .right>* {
        margin-right: 1rem;
    }

    .child {
        font-size: large;
        
    }
}