@font-face {
    font-family: glitch;
    src: url(/fonts/Lunar_Escape.otf);
}

h1 {
    font-family: glitch;
    font-size: 3rem;
}

h2 {
    font-family: glitch;
    font-size: 2rem;
}

h3 {
    font-family: glitch;
    font-size: 1rem;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    min-height: 100vh;
    margin: 0;
}