@font-face {
    font-family: glitch;
    src: url(/fonts/Lunar_Escape.otf);
}

body {
    margin: 0;
    background-color: rgba(0, 0, 0, 0.01);
    
}

h1 {
    font-family: glitch;
    font-size: 3rem;
}

h2 {
    font-family: glitch;
    font-size: 2rem;
}

h3 {
    font-family: glitch;
    font-size: 1rem;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}